/* You can add global styles to this file, and also import other style files */
/*  le estoy diciendo que cuando use la etiqueta body use este estilo 
el estilo lo saque  de  https://uigradients.com/#MoonlitAsteroid*/
body{
    
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        

}
.titulo{
    font-family: 'Ephesis', cursive;
    text-align: center;
}